@import './base.css';

#app {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Garet;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-jcm-white);
    background-color: var(--vt-c-jcm-black-soft);
  }
}

@media (min-width: 1025px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius:5px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }